:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --text-dark: #273646;
  --bg-primary: #273646;
  --bg-light-prinmary: #476786;
  --bg-secondary: #141418;
  --bg-white: #ffffff;
  --bg-current-gamemode: #dbdbdb;
  --page-bg-primary: #dfdfdf;
  --transition-speed: 300ms;
  --hover-bg-primary: #a4a4a4;
}

body {
  color: black;
  background-color: var(--page-bg-primary);
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--bg-primary);
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  z-index: 1000;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}

.nav-link:hover {
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  font-size: 1.3rem;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/*------------------------------------*\
#ADMIN - GRID
\*------------------------------------*/
.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
  gap: 2rem;
  max-width: 1300px;
  width: 100%;
}

.grid-item {
  width: 100%;
  height: 450px;
  background-color: var(--bg-white);
  border-radius: 10px;
  overscroll-behavior: contain;
  margin-bottom: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  overflow-y: auto;
}

/* First grid item span over 3 columns */
.grid-item:first-child {
  grid-column: span 3;
  height: 150px;
}
.grid-item:not(:first-child) {
  width: 400px;
}
/* Center position grid */
.grid-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.grid-header {
  display: flex;
  align-items: center;
  background-color: var(--bg-primary);
  color: var(--bg-white);
}

.grid-header svg {
  margin-left: 0.5rem;
}

.header-title {
  margin-left: 0.5rem;
  /* Add some margin between the icon and the title */
  font-size: 1rem;
  /* Adjust the font size as needed */
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.grid-content {
  height: 100%;
  background-color: var(--bg-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

/*------------------------------------*\
#ADMIN - Settings
\*------------------------------------*/
.settings-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
}

.settings-button-startstop {
  width: 130px;
  height: 43px;
  border-radius: 10px;
  background: #9b2d2d;
  border: none;
  color: var(--text-secondary);
  transition: ease var(--transition-speed);
}
.settings-button-startstop:hover {
  background: #7a2323;
  transition: ease var(--transition-speed);
}
.settings-button-callibrate {
  width: 130px;
  height: 43px;
  border-radius: 10px;
  background: var(--bg-primary);
  border: none;
  color: var(--text-secondary);
  transition: ease var(--transition-speed);
}
.settings-button-callibrate:hover {
  background: #3b526b;
  transition: ease var(--transition-speed);
}

/*------------------------------------*\
#ADMIN - Gamemodes
\*------------------------------------*/
.gamemodes-container {
  display: flex;
}
.gamemodes-container-gamemodeswitch-text {
  margin-left: 1rem;
  margin-right: 5.5rem;
  color: var(--text-dark);
  font-size: 1.1rem;
}
/*------------------------------------*\
#ADMIN - Button settings
\*------------------------------------*/
.button-settings-infotext {
  margin-left: 1rem;
  color: var(--text-dark);
  font-size: 1.1rem;
}
#button-distance {
  padding-left: 4rem;
}
#distance-data {
  padding-left: 6rem;
}
#button-actions {
  padding-left: 1.5rem;
}
#button-id {
  padding-left: 1.5rem;
}
#button-id-data {
  padding-left: 1.3rem;
}
/*------------------------------------*\
#ADMIN - LedStrip settings
\*------------------------------------*/
.lightstrip-setting-container {
  display: flex;
  gap: 2.6rem;
}

.lightstrip-setting-container-text {
  width: 2rem;
  white-space: nowrap;
  margin-left: 1rem;
  font-size: 1.1rem;
}
#lightstrip-action {
  padding-left: 1.5rem;
}
#lightstrip-pixels-data {
  padding-left: 1.5rem;
}
#lightstrip-distance-data {
  padding-left: 2.5rem;
}
#lightstrip-length-data {
  padding-left: 2rem;
}
.ledstrip-add-icon {
  padding-left: 50%;
  padding-right: 50%;
  transition: ease var(--transition-speed);
}
.ledstrip-add-icon:hover {
  color: var(--bg-light-prinmary);
  transition: ease var(--transition-speed);
}
/*------------------------------------*\
#HOME - carousel
\*------------------------------------*/
.slick-prev,
.slick-next {
  z-index: 1;
}
.slick-prev {
  left: 3rem;
}
.slick-next {
  right: 3rem;
}
.slick-slide {
  height: 550px; /* Adjust the height of the slides */
  transition: ease var(--transition-speed);
  background-image: linear-gradient(rgba(7, 7, 32, 0.65), rgba(7, 7, 32, 0.65)),
    url('../img/splash-art-gamemode.jpg');
}
.slick-center {
  height: 580px;
  transition: ease var(--transition-speed);
  background-image: url('../img/splash-art-gamemode.jpg');
}
.slick-slide img {
  height: 100%; /* Make the images fill the slide */
  width: 100%; /* Make the images fill the slide */
  object-fit: cover; /* Maintain aspect ratio and cover the slide */
}
.gamemodes-carousel {
  z-index: 1;
}
.gamemodes-carousel-item {
  margin: 1rem;
}
/*Text for all slides*/
.slick-slide .gamemodes-carousel-item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 90%;
  color: var(--text-secondary);
  opacity: 30%;
  font-weight: bold;
}
/*Text for center*/
.slick-center .gamemodes-carousel-item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 90%;
  color: var(--text-secondary);
  opacity: 100%;
}
/*------------------------------------*\
#Table styles
\*------------------------------------*/
.table-button {
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  margin-left: 0.5rem;
  transition: ease var(--transition-speed);
}
.table-button:hover {
  background-color: var(--bg-light-prinmary);
  color: var(--text-secondary);
  transition: ease var(--transition-speed);
}
.table-button svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.table-container {
  overflow: hidden;
  border-radius: 10px; /* Adjust as needed */
  width: 95%; /* Set a specific width, adjust as needed */
  margin: 0 auto; /* Center the table horizontally */
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  font-size: 0.7rem;
}

.rounded-table {
  width: 100%;
  border-collapse: collapse;
}

.rounded-table th,
.rounded-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Adjust the border color */
  font-weight: 400;
  font-size: 1rem;
}

.rounded-table th {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
}

/*------------------------------------*\
#Checkbox styles
\*------------------------------------*/
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  /* Adjust as needed */
  width: 20px;
  /* Adjust as needed */
  background-color: var(--bg-white);
  border: 1px solid #bbb;
  /* Adjust border color */
  border-radius: 3px;
  /* Adjust border radius */
  transition: background-color 0.3s ease; /* Add a transition for background-color */
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--bg-light-prinmary);
  border: 1px solid var(--bg-primary);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 7px;
  /* Adjust as needed for positioning */
  top: 3px;
  /* Adjust as needed for positioning */
  width: 5px;
  /* Adjust as needed for size */
  height: 10px;
  /* Adjust as needed for size */
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/*------------------------------------*\
#Toggle switch styles
\*------------------------------------*/
.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: 1.2rem;
  margin-left: 2.5rem;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 15px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  top: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--bg-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--bg-primary);
}

input:checked + .slider:before {
  transform: translateX(16px);
}

/*------------------------------------*\
#Small screens
\*------------------------------------*/
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  .nav-item:last-child {
    margin: 0;
  }
}

/*------------------------------------*\
#Large screens
\*------------------------------------*/
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}
/*------------------------------------*\
#GRID RESPONSIVE
\*------------------------------------*/
@media (max-height: 690px) {
  .grid-container-flex {
    margin-top: 1rem;
  }
}

@media (max-width: 1400px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 400px;
  }

  .grid-container-flex {
    margin-top: 1rem;
  }

  .grid-item:last-child {
    margin-bottom: 5rem;
  }

  .grid-item {
    margin-bottom: 1rem;
    width: 350px;
  }

  .grid-item:first-child {
    grid-column: span 1;
    height: 150px;
    width: 400px;
  }
}
/*------------------------------------*\
#Future color themes
\*------------------------------------*/
.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
