:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --text-dark: black;
  --text-dark: #273646;
  --bg-primary: #273646;
  --bg-light-prinmary: #476786;
  --bg-secondary: #141418;
  --bg-white: #ffffff;
  --bg-current-gamemode: #dbdbdb;
  --page-bg-primary: #f2f2f2;
  --transition-speed: 300ms;
  --hover-bg-primary: #a4a4a4;
}

body {
  color: black;
  background-color: var(--page-bg-primary);
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--bg-primary);
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}
.nav-last {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}

.nav-link:hover {
  background: var(--page-bg-primary);
  color: var(--text-dark);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  width: 100%;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  font-size: 1.3rem;
  transition: var(--transition-speed);
}

/* GRID */
.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
  gap: 2rem;
  max-width: 1300px;
  width: 100%;
}

.grid-item {
  width: 100%;
  height: 450px;
  background-color: var(--bg-white);
  border-radius: 10px;
  overscroll-behavior: contain;
  margin-bottom: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  overflow-y: auto;
}

/* First grid item span over 3 columns */
.grid-item:first-child {
  grid-column: span 3;
  height: 150px;
}
.grid-item:not(:first-child) {
  width: 400px;
}
/* Center position grid */
.grid-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.grid-header {
  display: flex;
  align-items: center;
  background-color: var(--bg-primary);
  color: var(--bg-white);
}

.grid-header svg {
  margin-left: 0.5rem;
}

.header-title {
  margin-left: 0.5rem;
  /* Add some margin between the icon and the title */
  font-size: 1rem;
  /* Adjust the font size as needed */
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.grid-content {
  height: 100%;
  background-color: var(--bg-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

/* ADMIN - Settings */
.settings-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
}

.settings-button-startstop {
  width: 130px;
  height: 43px;
  border-radius: 10px;
  background: #9b2d2d;
  border: none;
  color: var(--text-secondary);
  transition: ease var(--transition-speed);
}
.settings-button-startstop:hover {
  background: #7a2323;
  transition: ease var(--transition-speed);
}
.settings-button-callibrate {
  width: 130px;
  height: 43px;
  border-radius: 10px;
  background: var(--bg-primary);
  border: none;
  color: var(--text-secondary);
  transition: ease var(--transition-speed);
}
.settings-button-callibrate:hover {
  background: #3b526b;
  transition: ease var(--transition-speed);
}

/* ADMIN - Gamemodes */
.gamemodes-container {
  display: flex;
}
.gamemodes-container-gamemodeswitch-text {
  margin-left: 1rem;
  margin-right: 5.5rem;
  color: var(--text-dark);
  font-size: 1.1rem;
}
.table-button-force-gamemodes.gamemode-force-active {
  background-color: var(--bg-light-prinmary);
}
/* ADMIN - Button settings */
.button-settings-infotext {
  margin-left: 1rem;
  color: var(--text-dark);
  font-size: 1.1rem;
}
#button-distance {
  padding-left: 4rem;
}
#distance-data {
  padding-left: 6rem;
}
#button-actions {
  padding-left: 1.5rem;
}
#button-id {
  padding-left: 1.5rem;
}
#button-id-data {
  padding-left: 1.3rem;
}
/* ADMIN - Lightstrip settings */
.lightstrip-setting-container {
  display: flex;
  gap: 2.6rem;
}

.lightstrip-setting-container-text {
  width: 2rem;
  white-space: nowrap;
  margin-left: 1rem;
  font-size: 1.1rem;
}
#lightstrip-action {
  padding-left: 1.5rem;
}
#lightstrip-pixels-data {
  padding-left: 1.5rem;
}
#lightstrip-distance-data {
  padding-left: 2.5rem;
}
#lightstrip-length-data {
  padding-left: 2rem;
}
.ledstrip-add-icon {
  padding-left: 50%;
  padding-right: 50%;
  transition: ease var(--transition-speed);
}
.ledstrip-add-icon:hover {
  color: var(--bg-light-prinmary);
  transition: ease var(--transition-speed);
}

/* Gamemodes page */
.gamemodes-header-icons {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.small-gamepad-icon {
  width: 64px;
  height: 64px;
  margin-right: 1rem;
}
.big-gamepad-icon {
  width: 154px;
  height: 154px;
  margin-right: 1rem;
}
.gamemodes-header-text {
  text-align: center;
}
.gamemodes-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.gamemode-card {
  width: 326px;
  height: 390px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: var(--bg-white);
  margin: 1.5rem;
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the default text color */
}

.gamemode-card-header {
  width: 326px;
}
.gamemode-card-banner-img {
  width: 326px;
  height: 200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.gamemode-card-info {
  margin-left: 1rem;
  height: 166px;
}
.gamemode-card-info p {
  margin-bottom: 1rem;
}
.gamemode-name {
  font-weight: bold;
  font-size: 1.5rem;
}
.gamemode-discription {
  color: var(--text-primary);
}
.gamemode-card-best-time {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.gamemode-card-best-time svg {
  margin-right: 1rem;
}
/* gamemode-set-settings page */
#quit-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #dc3545; /* Bootstrap's danger color */
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100px;
  margin: 1rem;
  transition: ease var(--transition-speed);
}
#quit-button:hover {
  background-color: #63232a;
  transition: ease var(--transition-speed);
}
.gamemode-settings-header {
  text-align: center;
}
.gamemode-setting-discription {
  color: var(--text-primary);
}
.gamemode-setting-icon {
  height: 74px;
  width: 74px;
}
.gamemode-settings-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 7rem;
}

.gamemode-settings-card {
  background-color: #f8f9fa; /* Light grey background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.playerInput {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da; /* Bootstrap's border color */
  border-radius: 5px;
  box-sizing: border-box;
}

.startButton {
  background-color: #28a745; /* Bootstrap's success color */
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: ease var(--transition-speed);
}
.startButton:hover {
  background-color: #237736;
  transition: ease var(--transition-speed);
}
.gamemode-setting-content-hidden {
  display: none;
}
#startButtonTime {
  margin-left: 10rem;
  margin-top: 1rem;
  background-color: #28a745; /* Bootstrap's success color */
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: ease var(--transition-speed);
}
#startButtonTime:hover {
  background-color: #237736;
  transition: ease var(--transition-speed);
}
.gamemode-setting-text {
  margin-left: 1rem;
}
#playerInputTime {
  width: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da; /* Bootstrap's border color */
  border-radius: 5px;
  box-sizing: border-box;
  margin-right: 1rem;
  margin-left: 1rem;
}
/* gamemode-hardware-status */
.gamemode-hardware-status {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e8ffe8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gamemode-hardware-status svg {
  width: 24px;
  height: 24px;
}
/* gamemode-active page */
.gamemodeActiveIcon {
  height: 54px;
  width: 54px;
}
.player-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.player-card {
  width: 348px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--bg-white);
  margin: 1rem;
}
.player-card-header {
  background-color: #dad7fe; /* Choose your background color */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

.player-card-header p {
  margin: 0;
  font-size: 1rem;
}
.player-score-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.player-score-text {
  font-weight: bold;
  font-size: 1rem;
}
.player-score {
  font-size: 1rem;
  font-weight: bold;
  color: #ff3a29;
  margin-left: 5rem;
}
.lotti-container {
  display: flex;
  justify-content: center;
}
#lottie-container {
  width: 400px;
}
/* recent games table*/
.recent-scores-claim-text {
  text-align: center;
}
.recent-scores-container {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.table-caption-container {
  text-align: center;
}

.recent-games-table-title svg {
  margin-right: 0.5rem; /* Adjust margin as needed */
}

.recent-scores-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  border-radius: 10px; /* Add border-radius for the table */
  overflow: hidden; /* Ensure overflow is hidden for rounded corners */
}

.recent-scores-container th,
.recent-scores-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.recent-scores-container th {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
}
/* Leaderbord page */
.leaderbord-podium {
  display: flex;
  justify-content: center;
}
/* Custom styles for the dropdown */
.filter-dropdown {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  background-color: var(--bg-primary);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  font-family: 'Inter', sans-serif;
}

.filter-dropdown label {
  margin-right: 8px;
  font-weight: bold;
  color: var(--text-secondary);
}

.filter-dropdown select {
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  color: #333;
}
/* table */
.table-button {
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  margin-left: 0.5rem;
  transition: ease var(--transition-speed);
  background-color: var(--hover-bg-primary);
}
.table-button:hover {
  background-color: var(--bg-light-prinmary);
  color: var(--text-secondary);
  transition: ease var(--transition-speed);
}
.table-button svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.table-container {
  overflow: hidden;
  border-radius: 10px; /* Adjust as needed */
  width: 95%; /* Set a specific width, adjust as needed */
  margin: 0 auto; /* Center the table horizontally */
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  font-size: 0.7rem;
}

.rounded-table {
  width: 100%;
  border-collapse: collapse;
}

.rounded-table th,
.rounded-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Adjust the border color */
  font-weight: 400;
  font-size: 1rem;
}

.rounded-table th {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
}

/* checkbox styles */
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  /* Adjust as needed */
  width: 20px;
  /* Adjust as needed */
  background-color: var(--bg-white);
  border: 1px solid #bbb;
  /* Adjust border color */
  border-radius: 3px;
  /* Adjust border radius */
  transition: background-color 0.3s ease; /* Add a transition for background-color */
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--bg-light-prinmary);
  border: 1px solid var(--bg-primary);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 7px;
  /* Adjust as needed for positioning */
  top: 3px;
  /* Adjust as needed for positioning */
  width: 5px;
  /* Adjust as needed for size */
  height: 10px;
  /* Adjust as needed for size */
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Toggle switch styles */
.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: 1.2rem;
  margin-left: 2.5rem;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 15px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  top: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--bg-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--bg-primary);
}

input:checked + .slider:before {
  transform: translateX(16px);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    z-index: 1000;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  .nav-item:last-child {
    margin: 0;
  }
  .gamemodes-card-container {
    margin-bottom: 4rem;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

@media (max-height: 690px) {
  .grid-container-flex {
    margin-top: 1rem;
  }
}

@media (max-width: 1400px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 400px;
  }

  .grid-container-flex {
    margin-top: 1rem;
  }

  .grid-item:last-child {
    margin-bottom: 5rem;
  }

  .grid-item {
    margin-bottom: 1rem;
    width: 350px;
  }

  .grid-item:first-child {
    grid-column: span 1;
    height: 150px;
    width: 400px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
